<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("top_js", required: false)
</head>
<body >

    @RenderBody()


    @RenderSection("foot_js", required: false)

</body>
</html>
