

    <header class="index-head">
        <img class="index-pic" src="~/images/bg.png" />
        <p class="index-text">解放碑地下环道强力开通啦，快来get你的专属微信红包。参与解放碑地下环道开车闯关赢红包游戏，争做“老司机”。</p>
        <a class="index-btn" href="javascript:;"></a>
    </header>
    <div class="index-container">
        <div class="index-tab">
            <div class="tab-bar">
                <div class="tab-list active">环道介绍</div>
                <div class="tab-list">游戏说明</div>
            </div>
            <div class="tab-content">
                <div class="tab-content-item active">
                    <p class="tab-text">解放碑地下环道全部建成后总长度约6.3公里，包括“一环、七联络、N联通”。</p>
                    <p class="tab-text">【一环】：临江门-较场口转盘-新华路-中华路-五一路-临江路-临江门；</p>
                    <p class="tab-text">【七联络】：三进三出和一条双向进出道，分别连接北区路、嘉滨路、解放东路和长滨路；</p>
                    <p class="tab-text">【N连通】：解放碑核心区域26个地下车库连成一体，串连近2.1万个车位。</p>
                    <img class="map" src="~/images/map.png" />
                    <p class="tab-text">1、上图为解放碑地下环道示意图，其中绿色部分为本次已开通的路线，红色部分为暂未开通的路线，预计2019年全部开通。</p>
                    <p class="tab-text">2、请根据解放碑地下环道示意图，参与游戏并回答游戏过程中关于地下环道的问题。</p>
                    <p class="tab-text">3、若回答正确，则有机会抽取系统微信红包，红包金额随机，考验你的实力和运气。</p>
                </div>
                <div class="tab-content-item">
                    <p class="tab-text">游戏说明：</p>
                    <p class="tab-text">1、解放碑地下环道有2个入口，游戏前请选择一个入口进入。</p>
                    <p class="tab-text">2、进入游戏界面后，点击底部的行驶箭头，启动车辆。</p>
		            <p class="tab-text">3、游戏限时30秒，需要快速点击箭头为汽车加速；在30秒内成功抵达终点，可获取红包一个，红包金额随机。若30秒内未能达到终点，则游戏失败。</p>
                    <p class="tab-text">4、行驶过程中会弹出关于地下环道的问题，回答正确则继续行驶，回答错误游戏失败。</p>
                    <p class="tab-text">5、每人可重复游戏，但最多可获取一个红包。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div class="dialog-content">
            <h3 class="dialog-title">请选择游戏线路</h3>
            <a class="dialog-btn" href="~/home/game?lx=1">北区路入口—解放东路出口</a>
            <a class="dialog-btn" href="~/home/game?lx=2">储奇门入口—解放东路出口</a>
        </div>
    </div>
<script type="text/javascript" src="~/js/zepto.js"></script>
<script type="text/javascript" src="~/js/index.js"></script>