<?xml version="1.0" encoding="utf-8" ?>
<viconfig>
  <dbfactory>
    <property name="connection.string">Data Source=.;Initial Catalog=jfb_db;User Id=sa;Password=123123;</property>
    <property name="connection.provider">System.Data.SqlClient</property>
    <property name="connection.showsql">true</property>
    <mapping>JFB.Business.Domain</mapping>
  </dbfactory>
</viconfig>
